# .gitattributes

# Ignore all files in the 'prettier' directory for language statistics
sub/node/src/lib/prettier/* linguist-detectable=false
sub/node/src/lib/prettier/doc.js linguist-detectable=false
frontend/wailsjs/runtime/runtime.js linguist-detectable=false
sub/node/src/lib/prettier/third-party.js linguist-detectable=false
resources/public/purejs linguist-detectable=false