
pre_html_dir
.idea
core/pkg/mode/**/*
myproject
nouse
.DS_Store
tmp-translate-result
time-consumer
dist


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


sub/web/scan.sh
dev/lang/overwrriten/duplicate.json
time-consumer
*.bin
*.exe
__debug_bin
__debug_bin*
.ideadev
target/
runtime_api_set_dist
system-node*
temp
runtime_api_set_dist/*
dev-toolkit
dev-toolkit/**/*
node_modules
dev-dist
dev-toolkit/*
src/main/java/resources/runtime_api_set_dist/*
*.icloud
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
*.jar
*.war
### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
fanyi2.json
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
tomcat.*
/core/pkg/
