@tailwind base;
@tailwind components;
@tailwind utilities;


.anchor-text {
  @apply text-cyan-700 hover:text-cyan-500 hover:underline hover:cursor-pointer;
  transition: color 0.2s ease-in-out;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

 ::selection {
  color: #f1f5f9;
  background-color: #1a828d;
}
.dark   ::selection {
  color: #bccfce;
  background-color: #197174;
}


.nav-size-icon{
  font-weight: bold;
  height: 20px;
  min-width: 32px;
  font-size: 17px;
  font-family: unset;
}

.app-minmax-size{
  min-width: 820px;
  max-width: 1200px;
}

body {
 font-family: "Helvetica Neue",
    "Luxi Sans",
    "Segoe UI",
    "Hiragino Sans GB",
    "Microsoft Yahei",
    sans-serif,
    "Apple Logo";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
